@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background: #f3f7f9;
}

#logo,
li img {
  display: block;
  max-width: 100%;
  height: 50px;
}

#logo-sm {
  display: none;
}

#bg-mapa {
  position: absolute;
  z-index: -1;
  width: 100%;
}

#bg-mapa-sm {
  display: none;
}

.subtitulo {
  font-family: "Poppins";
  font-size: 48px;
  line-height: 72px;
}

/*Menu*/

.header {
  position: absolute;
  width: 100%;
  padding: 15px 200px;
}

/*Introdução*/

.introducao {
  display: flex;
  width: 100%;
  margin-left: 8.45rem;
}

#intro-img {
  margin-top: 150px;
  margin-left: 200px;
}

.introducao h1 {
  width: 30vw;
  font-size: 62px;
  color: #20509e;
  font-weight: 600;
  padding-top: 130px;
}

.introducao h1 span {
  color: #00cfc1;
}

.introducao p {
  width: 369px;
  font-size: 20px;
  text-align: justify;
  line-height: 26px;
  margin: 35px 0;
  color: #75849a;
}

form {
  display: flex;
  flex-direction: column;
  width: 369px;
}

::placeholder {
  color: #c4c4c4;
}

form input {
  font-family: "Montserrat";
  height: 48px;
  background: #ffffff;
  border: 1px solid #00cfc1;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding-left: 10px;
  margin-bottom: 15px;
  color: #75849a;
}

form .button {
  margin-top: 21px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  background: #20509e;
  font-size: 27.5052px;
  line-height: 40px;
  font-weight: bold;
  color: #f3f7f9;
}

/*Passos*/

#passos {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cada-passo {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#robofdp {
  width: 210px;
}

.cada-passo img {
  width: 80%;
}

.passo-texto {
  text-align: center;
  width: 70%;
  font-family: "Montserrat";
  font-size: 35px;
  color: #20509e;
}

.passo-texto span {
  color: #00cfc1;
}

/*Human x Robo*/

.human {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  width: 80vw;
  height: 500px;
  background: #00cfc1;
  border-radius: 16px;
}

.human .esquerdo {
  width: 30%;
}

.human h1 {
  font-family: "Roboto";
  font-size: 64px;
  line-height: 70px;
  color: #32383c;
}

.human h1 span {
  color: #20509e;
}

.human p {
  color: #32383c;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 30px;
  padding-top: 10px;
}

.btn-2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  background: #20509e;
  border: none;
  border-radius: 8px;
  height: 60px;
  width: 350px;
}

/*Bro*/
.bro {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 100px auto;
}

.bro h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 42.6392px;
  line-height: 43px;
  color: #20509e;
  text-align: center;
  width: 600px;
}

.bro span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 81px;
  line-height: 81px;
  color: #00cfc1;
}

.bro span + span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 81px;
  line-height: 81px;
  color: #20509e;
}

.bro .direito .btn-2 {
  margin-top: 2.4rem;
  width: 80%;
  padding: 10px 0;
  margin: 20px 40px;
}

/*Parceiros*/

#parceiros {
  width: 90vw;
  margin: 2rem auto;
}

#parceiros p {
  font-family: "Montserrat";
  font-size: 2.6rem;
  text-align: center;
  line-height: 84px;
  color: #20509e;
  display: block;
}

#parceiros p span {
  color: #00cfc1;
  font-weight: 600;
}

#marcas-parceiras {
  display: flex;
  justify-content: center;
}

/*Slider*/

.carousel {
  width: 80vw;
  margin: 0 auto;
  background: #00cfc1;
  border-radius: 16px;
  padding: 3rem;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.innerslide {
  align-items: center;
  justify-content: space-between;
}

#chamada {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#chamada p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 60px;
  color: #32383c;
}

#chamada .btn-2 {
  width: 100%;
  font-family: "Roboto";
  color: #fff;
  text-transform: uppercase;
}

#fotocaption {
  width: 55%;
  height: 470px;
  max-width: 1200px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 10px auto;
}

.carousel-item img {
  border-radius: 0;
  width: 100%;
}

#fotocaption p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #8296a4;
  margin-top: 1.6rem;
  text-align: justify;
}

#fotocaption .azul-escuro {
  color: #20509e;
  font-weight: 600;
}

.azul-escuro-destacado {
  font-size: 1.2rem;
  color: #20509e;
  font-weight: 600;
}

/*Footer*/

.footer::before {
  content: "";
  display: block;
  width: 130vw;
  height: 5px;
  background: linear-gradient(90.01deg, #00cfc1 0.01%, #1663a0 98.34%);
  border-radius: 10px;
  margin: 0 auto;
}

.footer {
  height: 150px;
  width: 100vw;
  margin-top: 2rem;
  background: #32383c;
  overflow: hidden;
  padding: 0px 0;
}

#footer-content {
  width: fit-content;
  display: flex;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.footer p {
  color: #e9eef2;
  font-size: 0.8rem;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  border-left: 1px solid #e9eef2;
  height: 100px;
  width: 400px;
  padding-left: 30px;
  margin-left: 30px;
  padding-top: 30px;
}

@media (max-width: 700px) {
  body {
    width: 100vw;
    background: #f3f7f9;
  }

  .header {
    width: 100vw;
    padding: 1.5rem 1.5rem;
  }

  .introducao {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  #intro-img {
    display: none;
    margin-top: 3rem;
    margin-left: 2rem;
    width: 85vw;
  }

  #logo {
    width: 35vw;
  }

  #logo-sm {
    display: none;
  }

  #bg-mapa-sm {
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  .introducao h1 {
    width: 70vw;
    font-size: 2.6rem;
    padding-left: 1.4rem;
  }

  .introducao p {
    width: 100vw;
    font-size: 1.2rem;
    padding-left: 1.4rem;
    padding-right: 2.4rem;
  }

  form {
    width: 90vw;
    margin: 0 auto;
  }

  form input {
    font-family: "Montserrat";
    font-size: 1.2rem;
    color: #6c6e70;
  }

  form .button {
    width: 90vw;
    margin: 1rem auto;
  }

  #bg-mapa {
    display: none;
  }

  #passos {
    width: 270px;
    margin: 2rem auto;
    flex-direction: column;
  }

  .cada-passo {
    width: 50vw;
    margin-top: 1.6rem;
  }

  .cada-passo img {
    width: 200px;
  }

  #robofdp {
    width: 50vw;
  }

  .passo-texto {
    width: 80vw;
    text-align: center;
    font-size: 1.8rem;
  }

  .human {
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    margin: 0;
    padding: 2rem;
    border-radius: 0;
  }

  .human .esquerdo {
    width: 250px;
  }

  .human h1 {
    font-size: 50px;
    line-height: normal;
  }

  .human button {
    width: 200px;
    font-size: 1rem;
  }

  .bro {
    flex-direction: column;
    margin: 2rem auto;
  }

  .bro img {
    width: 90vw;
  }

  .bro h1,
  .bro span,
  .bro span + span {
    font-size: 1.7rem;
    line-height: normal;
    text-align: center;
    width: 80vw;
    margin: 2rem auto 0;
  }

  .bro .direito .btn-2 {
    width: 90vw;
    height: auto;
    font-size: 1.3rem;
    margin: 20px auto;
  }

  #parceiros {
    align-items: center;
  }

  #parceiros p {
    font-size: 1.8rem;
    line-height: normal;
    text-align: center;
  }

  #marcas-parceiras {
    flex-direction: column;
  }

  #marcas-parceiras img {
    width: 70%;
    margin-left: 40px;
  }

  .carousel {
    width: 100vw;
    margin: 0;
    border-radius: 0;
    padding: 1rem 0 3rem;
  }

  .innerslide {
    flex-direction: column-reverse;
    align-items: center;
  }

  #chamada {
    width: 80%;
    margin: 0;
  }

  #chamada p {
    font-size: 1.5rem;
    line-height: normal;
    margin-top: 1.6rem;
  }

  #fotocaption {
    width: 80%;
    height: fit-content;
  }

  #fotocaption p {
    font-size: 1.1rem;
  }

  .azul-escuro-destacado {
    font-size: 1.3rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .footer {
    height: 110px;
  }

  .footer img {
    width: 10vw;
    margin: 0 auto;
  }

  .footer p {
    display: none;
  }
}
